<nav>
  <div class="site-title">
    <h1>Bible Verses</h1>
    <p>An Inspirational Uplift For Everyday Life</p>
    <p id="welcome-user">WELCOME,  <%= user %></p>
  </div>
  <ul>
    <li id="first"><a href="/home">Bible Verses</a></li>
    <li><a href="/messages">Messages</a></li>
    <li><a href="/prayers">Prayers</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/login">Log out</a></li>
  </ul>
</nav>