<!-- create-story.ejs -->
<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>
<body>
	<%- include("./partials/nav.ejs") %>
		<h1>Add message page.... coming soon</h1>
			<%- include("./partials/foot.ejs") %>
	<script type="text/javascript" src=".js"></script>
</body>
</html>