<!-- stories.ejs -->
<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>
<body>
	<%- include("./partials/nav.ejs") %>
	<h1>Message page.... coming soon</h1>
	<h1><a href="/add-message">Add your personal message here.</a></h1>
	<%- include("./partials/foot.ejs") %>
	<script type="text/javascript" src=".js"></script>
</body>
