<!-- user-exists.ejs -->
<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>
<body>
	<nav>
	  <div class="site-title">
	   <h1>Bible Verses</h1>
	    <p>An Inspirational Uplift From Everyday Life</p>
	  </div>
	</nav>
	<h1>User already exists. Sorry</h1>
	<button><a href="/login">Try Again</a></button>
	<%- include("./partials/foot.ejs") %>
	<script type="text/javascript" src=".js"></script>
</body>
