<!-- prayers.ejs -->
<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>
<body>
	<%- include("./partials/nav.ejs") %>
	<h1>Prayer Requests page.... coming soon</h1>
	<h1><a href="/add-prayer">Add your prayer requests here.</a></h1>
	<%- include("./partials/foot.ejs") %>
	<script type="text/javascript" src=".js"></script>
</body>
