body {
  background-color: #b5e3de;
  font-family: 'Ink Free';
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  background-color: #235c57;
  border-radius: 10%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
}

nav h1 {
  font-size: 3em;
}

nav a {
  color: #009b77;
  font-weight: 300;
}

nav p {
  font-weight: 300;
  font-size: 1.5em;
  color: #936b0e;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid grey;
  background-color: white;
}

#login {
  float: left;
  margin-left: 100px;
}

#login h1,
#create-account h1 {
  font-size: 3em;
}

#create-account {
  float: right;
  margin-bottom: 30px;
  margin-right: 100px;
  padding-left: 20px;
  border-left: 5px solid grey;
}

#welcome-user {
  color: white;
}

/*@media only screen and (max-width: 850px) {
  nav p, nav h1 {
    display: none;
  }
  nav li {
    margin-left: 10px;
  }
  nav {
    background-color: #b5e3de;
  }
}

@media only screen and (max-width: 600px) {
   nav ul {
     display: block;
   }

} */